*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'Michland';
    src: url('Michland.woff2') format('woff2'),
        url('Michland.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


html{
    height: 100%;
    --primary-color:rgb(24, 135, 199);
}
body{
    position: relative;
    margin: 0;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 200px auto;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

input,select{
    width: 90%;
}

label{
    display: block;
}

#priority{
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.header{
    position: sticky;
    top: 0px;
    text-align: center;
    grid-row: 1;
    grid-column: 2;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 3rem;
    text-shadow: 2px 4px rgb(91, 213, 235);
    box-shadow: 0px 1px 10px black;
    font-family: 'Michland';
}
.sidebar{
    position: sticky;
    top: 0px;
    left: 0px;
    height: 100vh;
    grid-row: 1/-1;
    display: grid;
    grid-template-rows: 1fr 7fr;
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
}

.proj-button-container{
    display: flex;
}

.proj-section button{
    text-align: left;
    border: none;
    padding: 5px 10px;
    width: 80%;
    background-color: transparent;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    &:hover{
        background-color: rgb(79, 179, 226);
    }
    &.highlight{
        background-color: rgb(79, 179, 226);
    }
}

.proj-add,.proj-delete{
    margin: 0 auto;
    margin-bottom: 10px;
    flex: 1;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.4rem;
    border-radius: 20px;
    text-shadow: 1px 1px black;
    &:hover{
        background-color:rgb(79, 179, 226) ;
    }
}


.proj-section >ul{
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-top: -70px;
}

.proj-section >h3{
    font-size: 4.5rem;
    text-shadow: 3px 3px black;
    font-family: 'Michland';
}

.main-content{
    grid-row: 2/-1;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    >button{
        position: sticky;
        bottom: 20px;
        right: 20px;
        margin: 20px 20px;
        border: 2px solid black;
        background-color: var(--primary-color);
        font-size: 1.7rem;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        align-self:flex-end;
        box-shadow: 0px 0px 5px black;
    }
    >button:hover{
        background-color: rgb(14, 108, 172);
    }
    & h2{
        margin: -1px 0px;
        font-size: 5rem;
        font-family: 'Michland';
        font-weight: 600;
        text-shadow: 2px 1px rgb(165, 169, 172);
    }
}

.task{
    background-color: rgb(245, 245, 245);
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 150px;
    width: 30%;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    & p{
        margin:0;
        font-weight: bold;
        padding-left: 10px;
    }
    & p:last-of-type{
        font-size: 1rem;
        font-weight: 100;
    }
}

.task span{
    margin-top: auto;
    display: flex;
    >button{
        flex: 1;
        border: none;
        font-size: 1.9rem;
        background-color: var(--primary-color);
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    & .Check-Btn{
        color: green;
        border-right: 1px solid black;
    }
    >button:hover{
        background-color: rgb(18, 100, 138);
    }
    & .Edit-Btn{
        border-bottom-right-radius: 9px;
        border-left: 1px solid black;
    }
}

.logo{
    display: flex;
}

#logo-para{
    font-size: 3.7rem;
    font-weight: bold;
    margin: auto 0;
    font-family: 'Michland';
    color: black;
    text-shadow: 1px 1px white;
}

.dialog {
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 40px rgb(1, 39, 82);
    font-family: 'Michland';
    width: 300px;
    background-color: rgb(248, 248, 248);
    & input{
        border-radius: 5px;
        padding-left: 5px;
        outline: none;
        border: 1px solid black;
    }
    & label{
        font-size: 3rem;
        font-weight: bold;
        margin-top: 10px;
        text-shadow: 1px 1px rgb(202, 202, 202)
    }
    & button{
        padding: 10px 30px;
        border-radius: 10px;
        border: none;
        box-shadow: 0px 0px 3px black;
        background-color: var(--primary-color);
        color: white;
        font-family: 'Michland';
        font-size: 2rem;
        text-shadow: 2px 2px black;
    }
}

.diag-container{
    display: flex;
    justify-content: space-between;
}

#confirmDialog{
    width: 350px;
    & p{
        text-align: center;
        font-size: 2rem;
        font-weight: bold;

    }
}

#projDialog{
    & label{
        margin-bottom: 5px;
    }
    & input{
        margin-bottom: 15px;
    }
}




